<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
<script src='http://code.jquery.com/jquery-1.11.2.js'></script>
<script src='http://vk.com/js/api/xd_connection.js?2'></script>
</head>
<body>
    <div>
        <p>Ок</p>
        <table id="main-table">
        </table>
    </div>
<script>

function checkForUsersConfession (whoVkId) {
    alert ('ok');
    var whoVkIdString = whoVkId.toString();
    $.ajax({
        url: 'http://vklovers.herokuapp.com/users/' + whoVkIdString + '/who_confession/',
        type: 'GET',
        data: data,
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        async: false,
        success: function(data) {
            alert(data.response.length);
            for (i = 0; i < data.response.length; i++) {
                alert(data.response[i].to_who_vk_id) ;
            }
        }
    });
}

function addRowToTableWithFriends (viewerUserIdNumber, cellUserIdNumber, photo, first_name, last_name) {
    $('#main-table').append('<tr>' +
        '<td>' + "<img src='" + photo + "'>" + '</td>' +
        '<td>' + first_name + ' ' + last_name + '</td>' +
        '<td>' + "<button class='button-date' id='date" + cellUserIdNumber.toString() + "'>" + 'Date'+ '</button>' + '</td>' +
        '<td>' + "<button class='button-sex' id='sex" + cellUserIdNumber.toString() + "'>"  + 'Sex'+ '</button>' + '</td>' +
    '</tr>');
}

function makeTableWithFriends(viewerUserIdNumber, viewerUserSex) {
    VK.api('friends.get', {order: 'hints', fields: 'id, first_name, last_name, sex, photo_50' }, function(data) {
        switch (viewerUserSex) {
            case 0: {
                for(i = 0; i < data.response.length; i++) {
                    addRowToTableWithFriends(viewerUserIdNumber, data.response[i].uid, data.response[i].photo_50, data.response[i].first_name, data.response[i].last_name);
                }
                break;
            }
            case 1: {
                for(i = 0; i < data.response.length; i++) {
                    if (data.response[i].sex == 2)
                        addRowToTableWithFriends(viewerUserIdNumber,  data.response[i].uid, data.response[i].photo_50, data.response[i].first_name, data.response[i].last_name);
                }
                break;
            }
            case 2: {
                for(i = 0; i < data.response.length; i++) {
                    if (data.response[i].sex == 1)
                        addRowToTableWithFriends(viewerUserIdNumber, data.response[i].uid, data.response[i].photo_50, data.response[i].first_name, data.response[i].last_name);
                }
                break;
            }
        }
    });
    checkForUsersConfession(viewerUserIdNumber);
}

function initSuccess () {
    VK.api('users.get', {fields: 'sex'}, function(data) {
        var viewerUserIdNumber = data.response[0].uid;
        var userInfo = {vk_id: viewerUserIdNumber.toString(), email: 'unknown@unknown.com', mobile: 'unknown'};
        $.ajax({
            url: 'http://vklovers.herokuapp.com/users/',
            type: 'POST',
            data: JSON.stringify(userInfo),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
            success: function() {
                // What should I do if User once been in app?
            },
            error: function() {
                // What should I do else?
            }
        });
        makeTableWithFriends(viewerUserIdNumber, data.response[0].sex);

    });
}

$(document).ready(
    VK.init(initSuccess())
);

</script>
</body>
</html>