<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src='http://code.jquery.com/jquery-1.11.2.js'></script>
    <script src='http://vk.com/js/api/xd_connection.js?2'></script>
    <style type="text/css">
        .date-all-pressed {
            background-color: orange;
        }
        .sex-all-pressed {
            background-color: orange;
        }
        #table-part {
            float: left;
        }
        #to-all-buttons-part {
            float: right;
        }
        #search-part {
            float: left;
        }
        .date-pressed {
            background-color: red;
        }
        .sex-pressed {
            background-color: red;
        }
    </style>
</head>
<body>
    <div class='header'>
        <div id='search-part'>
            <input type='text' id='search-bar' name='search-for-name'>
        </div>
        <div id='to-all-buttons-part'>
            <table>
                <tr>
                    <td><button id='share'>Share</button></td>
                    <td><button id='date-all'>Date all</button></td>
                    <td><button id='sex-all'>Sex all</button></td>
                </tr>
            </table>
        </div>
    </div>
    <div id='table-part'>
        <table id='main-table'>
        </table>
    </div>
<script>

function checkForUsersConfession (whoVkIdNumber) {
    var whoVkIdString = whoVkIdNumber.toString();
    $.getJSON('http://vklovers.herokuapp.com/users/' + whoVkIdString + '/who_confession/', {}, function(data) {

    })
            .always(function(data) {
                for (i = 0; i < data.length; i++) {
                    var toWhoVkIdString = data[i].to_who_vk_id;
                    var currentType = data[i]['type'];
                    if (currentType == 0) {
                        $('#date' + toWhoVkIdString).addClass('date-pressed');
                        var currentRow = $('#date' + toWhoVkIdString).closest('tr');
                        currentRow.detach();
                        $('#main-table').prepend(currentRow);
                    } else {
                        $('#sex' + toWhoVkIdString).addClass('sex-pressed');
                        var currentRow = $('#sex' + toWhoVkIdString).closest('tr');
                        currentRow.detach();
                        $('#main-table').prepend(currentRow);
                    }
                }
            });
}

function addRowToTableWithFriends (viewerUserIdNumber, cellUserIdNumber, photo, first_name, last_name) {
    var toWhoVkIdString = cellUserIdNumber.toString();
    var idDateString = "'date" + toWhoVkIdString + "'" ;
    var idSexString = "'sex" + toWhoVkIdString + "'" ;
    var valueDateString = "'" + toWhoVkIdString + "'" ;
    var valueSexString = "'" + toWhoVkIdString + "'" ;
    $('#main-table').append("<tr class='item'>" +
        '<td>' + "<img src='" + photo + "'>" + '</td>' +
        '<td>' + first_name + ' ' + last_name + '</td>' +
        '<td>' + "<button class='button-date' id=" + idDateString + ' value=' + valueDateString + '>' + 'Date'+ '</button>' + '</td>' +
        '<td>' + "<button class='button-sex' id=" + idSexString + ' value=' +  valueSexString + '>'  + 'Sex'+ '</button>' + '</td>' +
    '</tr>');
}

function makeTableWithFriends(viewerUserIdNumber, viewerUserSex) {
    VK.api('friends.get', {order: 'hints', fields: 'id, first_name, last_name, sex, photo_50' }, function(data) {
       switch (viewerUserSex) {
            case 0: {
                for(i = 0; i < data.response.length; i++) {
                    addRowToTableWithFriends(viewerUserIdNumber, data.response[i].uid, data.response[i].photo_50,
                            data.response[i].first_name, data.response[i].last_name);
                }
                break;
            }
            case 1: {
                for(i = 0; i < data.response.length; i++) {
                    if (data.response[i].sex == 2)
                        addRowToTableWithFriends(viewerUserIdNumber,  data.response[i].uid, data.response[i].photo_50,
                                data.response[i].first_name, data.response[i].last_name);
                }
                break;
            }
            case 2: {
                for(i = 0; i < data.response.length; i++) {
                    if (data.response[i].sex == 1)
                        addRowToTableWithFriends(viewerUserIdNumber, data.response[i].uid, data.response[i].photo_50,
                                data.response[i].first_name, data.response[i].last_name);
                }
                break;
            }
        }
        checkForUsersConfession(viewerUserIdNumber);
    });
}

function callBackOnClickToDateButton (whoVkIdString, toWhoVkIdString) {
    var flagDatePressed = $('#date' + toWhoVkIdString).hasClass('date-pressed');
    var flagSexPressed = $('#sex' + toWhoVkIdString).hasClass('sex-pressed');
    if ((flagDatePressed == false) && (flagSexPressed == false)) {
        $('#date' + toWhoVkIdString).addClass('date-pressed');
        var confessionInfo = {who_vk_id: whoVkIdString, to_who_vk_id: toWhoVkIdString, type: 0};
        $.ajax({
            url: 'http://vklovers.herokuapp.com/users/' + whoVkIdString + '/who_confession/',
            type: 'POST',
            data: JSON.stringify(confessionInfo),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true
        });
    } else if ((flagDatePressed == true) && (flagSexPressed == false)) {
        $('#date' + toWhoVkIdString).removeClass('date-pressed');
        $.ajax({
            url: 'http://vklovers.herokuapp.com/users/' + whoVkIdString + '/who_confession/' + toWhoVkIdString + '/',
            type: "DELETE"
        });
    } else {
        $('#date' + toWhoVkIdString).addClass('date-pressed');
        $('#sex' + toWhoVkIdString).removeClass('sex-pressed');
        var confessionInfo = {who_vk_id: whoVkIdString, to_who_vk_id: toWhoVkIdString, type: 0};
        $.ajax({
            url: 'http://vklovers.herokuapp.com/users/' + whoVkIdString + '/who_confession/',
            type: 'POST',
            data: JSON.stringify(confessionInfo),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true
        });
    }
}

function callBackOnClickToSexButton (whoVkIdString, toWhoVkIdString) {
    var flagDatePressed = $('#date' + toWhoVkIdString).hasClass('date-pressed');
    var flagSexPressed = $('#sex' + toWhoVkIdString).hasClass('sex-pressed');
    if ((flagDatePressed == false) && (flagSexPressed == false)) {
        $('#sex' + toWhoVkIdString).addClass('sex-pressed');
        var confessionInfo = {who_vk_id: whoVkIdString, to_who_vk_id: toWhoVkIdString, type: 1};
        $.ajax({
            url: 'http://vklovers.herokuapp.com/users/' + whoVkIdString + '/who_confession/',
            type: 'POST',
            data: JSON.stringify(confessionInfo),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true
        });
    } else if ((flagDatePressed == false) && (flagSexPressed == true)) {
        $('#sex' + toWhoVkIdString).removeClass('sex-pressed');
        $.ajax({
            url: 'http://vklovers.herokuapp.com/users/' + whoVkIdString + '/who_confession/' + toWhoVkIdString + '/',
            type: "DELETE"
        });
    } else {
        $('#sex' + toWhoVkIdString).addClass('sex-pressed');
        $('#date' + toWhoVkIdString).removeClass('date-pressed');
        var confessionInfo = {who_vk_id: whoVkIdString, to_who_vk_id: toWhoVkIdString, type: 1};
        $.ajax({
            url: 'http://vklovers.herokuapp.com/users/' + whoVkIdString + '/who_confession/',
            type: 'POST',
            data: JSON.stringify(confessionInfo),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true
        });
    }
}

function deleteAllConfessions (whoVkIdString) {
    $('tr.item').each( function() {
        $this = $(this);
        var toWhoVkIdString = $this.find('button.button-date').val();
        $('#date' + toWhoVkIdString).removeClass('date-pressed');
        $('#sex' + toWhoVkIdString).removeClass('sex-pressed');
    });
    $.ajax({
        url: 'http://vklovers.herokuapp.com/users/who_confession/' + whoVkIdString + '/',
        type: "DELETE"
    });
};

function makeAllPossibleConfessions (whoVkIdString, typeOfConfessions) {
    var arrayToPost = [];
    $('tr.item').each( function() {
        $this = $(this);
        var toWhoVkIdString = $this.find('button.button-date').val();
        if (typeOfConfessions == 0) {
            $('#date' + toWhoVkIdString).addClass('date-pressed');
            $('#sex' + toWhoVkIdString).removeClass('sex-pressed');
        } else {
            $('#date' + toWhoVkIdString).removeClass('date-pressed');
            $('#sex' + toWhoVkIdString).addClass('sex-pressed');
        }

        var elementConfession = {who_vk_id: whoVkIdString, to_who_vk_id: toWhoVkIdString, type: typeOfConfessions};
        arrayToPost.push(elementConfession);
    });
    $.ajax({
        url: 'http://vklovers.herokuapp.com/users/who_confession/' + whoVkIdString + '/',
        type: 'POST',
        data: JSON.stringify(arrayToPost),
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        async: true
    });
}

//function interActionWithViewer(whoVkIdNumber) {
var whoVkIdString;
$('#table-part').on('click', 'button', function() {
    var toWhoVkIdString = $(this).attr('value');
    if ($(this).hasClass('button-date') == true) {
        callBackOnClickToDateButton(whoVkIdString, toWhoVkIdString);
    } else {
        callBackOnClickToSexButton(whoVkIdString, toWhoVkIdString);
    }
});
$('#date-all').on('click', function () {
    if (!$('#date-all').hasClass('date-all-pressed') && !$('#sex-all').hasClass('sex-all-pressed')) {
        makeAllPossibleConfessions(whoVkIdString, 0);
        $('#date-all').addClass('date-all-pressed');
    } else if ($('#date-all').hasClass('date-all-pressed') && !$('#sex-all').hasClass('sex-all-pressed')) {
        deleteAllConfessions(whoVkIdString);
        $('#date-all').removeClass('date-all-pressed');
    } else {
        makeAllPossibleConfessions(whoVkIdString, 0);
        $('#date-all').addClass('date-all-pressed');
        $('#sex-all').removeClass('sex-all-pressed');
    }
});
$('#sex-all').on('click', function () {
    if (!$('#date-all').hasClass('date-all-pressed') && !$('#sex-all').hasClass('sex-all-pressed')) {
        makeAllPossibleConfessions(whoVkIdString, 1);
        $('#sex-all').addClass('sex-all-pressed');
    } else if (!$('date-all').hasClass('date-all-pressed') && $('#sex-all').hasClass('sex-all-pressed')) {
        deleteAllConfessions(whoVkIdString);
        $('#sex-all').removeClass('sex-all-pressed');
    } else {
        makeAllPossibleConfessions(whoVkIdString, 1);
        $('#sex-all').addClass('sex-all-pressed');
        $('#date-all').removeClass('date-all-pressed');
    }
});
$('#share').on('click', function () {

})

//}

function initSuccess () {
    // access to wall +8192, access to notifications +1, link +256
    VK.api ('users.isAppUser', function (msg) {
        if (msg.response == 0) {
            alert('Welcome!');
        } else {
            alert('Wazzup');
        }
    });
    VK.api('getUserSettings', function(data){
        if (data.response){
            if (!(256 & data.response) || !(8192 & data.response) || !(1 & data.response))
                VK.callMethod('showSettingsBox', (256 + 8192 + 1));
        }
    });
    VK.api('users.get', {fields: 'sex'}, function(dataFromVk) {
        var viewerUserIdNumber = dataFromVk.response[0].uid;
        var userInfo = {vk_id: viewerUserIdNumber.toString(), email: 'unknown@unknown.com', mobile: 'unknown'};
        $.ajax({
            url: 'http://vklovers.herokuapp.com/users/',
            type: 'POST',
            data: JSON.stringify(userInfo),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
            success: function() {
                // What should I do if User once been in app?
                //alert('Welcome!')
            },
            error: function() {
                // What should I do else?
                //alert("You've been here!")
            }
        });
        whoVkIdString = viewerUserIdNumber.toString();
        makeTableWithFriends(viewerUserIdNumber, dataFromVk.response[0].sex);
        //interActionWithViewer(viewerUserIdNumber);
    });
}

$(document).ready(
    VK.init(initSuccess())
);

</script>
<script>

</script>
</body>
</html>