body {
    margin: 0px;
}

#main-window {
    height: 500px;
    width: 607px;
    margin: 0px;
}

.pop-up-window {
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}

.pop-up-window .pop-up-content {
    margin:100px auto 0px auto;
    width: 300px;
    height: 200px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:2px;
    box-shadow: 0px 0px 10px #000;
}

.date-all-pressed {
    background-color: orange;
}
.sex-all-pressed {
    background-color: orange;
}
#table-part {
    float: left;
    overflow-y: auto;
    height: 90%;
}
#to-all-buttons-part {
    float: right;
    height: 10%;
}
#search-part {
    height: 10%;
    float: left;
}
.date-pressed {
    background-color: red;
}
.sex-pressed {
    background-color: red;
}

.pop-up-container {
    background-color: #ccc;
    color: #fff;
}

/*
#pop-up-date-first-buttons-part {
    position: relative;
    bottom: 0;
    right: 0;
}

#ok-button-pop-up-same {
    position: relative;
    bottom: 0;
    right: 0;
}