body {
    margin: 0px;
    font-family: tahoma, tahoma, verdana, arial, sans-serif;
}

#main-window {
    height: 500px;
    width: 607px;
    margin: 0px;
}

.pop-up-window {
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}

.pop-up-window .pop-up-content {
    position: relative;
    margin:100px auto 0px auto;
    width: 450px;
    height: 300px;
    padding:10px;
    background-color: #ffffff;
    border-radius:2px;
    box-shadow: 0px 0px 10px #000;
}

.date-all-pressed {
    background-color: orange;
}
.sex-all-pressed {
    background-color: orange;
}

.completed-row {
    background-color: #4cae4c;
}

#main-part {
    margin: 0px;
    position: relative;
    width: 100%;
    height: 85%;
}

#info-part {
    background-color: rgb(247,247,247);
    float: left;
    margin: 0px;
    height: 100%;
    width: 34%;
    box-sizing: border-box;
    border-right: 1px solid rgb(218,225,232);
    border-top: 1px solid rgb(242,242,242);
}

.avatar-field {

}

#table-part {
    box-sizing: border-box;
    border: 1px solid rgb(242,242,242);
    float: right;
    margin: 0px;
    overflow-y: auto;
    height: 100%;
    width: 66%;

}
#header {
    display: table;
    height: 15%;
    width: 100%;
}

#search-field {
    width: 90%;
}
.search-block {;
    display:table-cell;
    vertical-align:middle;
    height: 100%;
    width: 55%;
}
.to-all-block {
    display:table-cell;
    vertical-align:middle;
    height: 100%;
    width: 15%;
}

.pop-up-container {
    background-color: #ccc;
    color: #fff;
}

td.name-field {
    font-size: 13px;
    color: #2B587A;
    font-weight: bold;

}

.table tbody>tr>td.vert-align{
    vertical-align: middle;

}
.content-in-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#accept-date-pop-up-date-first {
    display: inline-block;
}
#not-accept-date-pop-up-date-first {
    display: inline-block;
}

#pop-up-same-buttons-part {
    position: absolute;
    bottom: 6%;
    right: 4%;
}
#pop-up-date-first-buttons-part{
    position: absolute;
    bottom: 6%;
    right: 4%;
}

.button-date {
    border-radius: 10%;
    height: 35px;
    width: 45px;
    padding: 5px 5px;
}

.button-sex {
    border-radius: 10%;
    height: 35px;
    width: 45px;
    padding: 5px 5px;
}

.btn {
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-default {
    background: #ffffff;
    color: rgb(188, 205, 221);
    box-shadow: none;
}

.btn-default:focus , .open > .dropdown-toggle.btn-default {
    background: #ffffff;
    color: rgb(188, 205, 221);
    box-shadow: none;
}


.btn-danger {
    background: #ffffff;
    color: palevioletred;
    box-shadow: none;
}


.btn-danger:focus, .open > .dropdown-toggle.btn-danger  {
    background: #ffffff;
    color: palevioletred;
    box-shadow: none;
}


.btn-danger:hover, .btn-danger:active {
    background: rgb(255, 205, 255);
    color: palevioletred
}


.btn-default:hover, .btn-default:active {
    background: rgb(233, 237, 241);
    color: rgb(188, 205, 221);
}
