body {
    margin: 0px;
}

#main-window {
    height: 500px;
    width: 607px;
    margin: 0px;
}

.pop-up-window {
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}

.pop-up-window .pop-up-content {
    position: relative;
    margin:100px auto 0px auto;
    width: 450px;
    height: 300px;
    padding:10px;
    background-color: #ffffff;
    border-radius:2px;
    box-shadow: 0px 0px 10px #000;
}

.date-all-pressed {
    background-color: orange;
}
.sex-all-pressed {
    background-color: orange;
}

.completed-row {
    background-color: #4cae4c;
}

#table-part {
    float: left;
    overflow-y: auto;
    height: 85%;
    width: 100%;
}
#header {
    display: table;
    height: 15%;
    width: 100%;
}

#search-field {
    width: 90%;
}
.search-block {;
    display:table-cell;
    vertical-align:middle;
    height: 100%;
    width: 55%;
}
.to-all-block {
    display:table-cell;
    vertical-align:middle;
    height: 100%;
    width: 15%;
}
.date-pressed {
    background-color: red;
}
.sex-pressed {
    background-color: red;
}

.pop-up-container {
    background-color: #ccc;
    color: #fff;
}

td.name-field {
    font-size: medium;
    color: #2b587a;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;

}
.content-in-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#accept-date-pop-up-date-first {
    display: inline-block;
}
#not-accept-date-pop-up-date-first {
    display: inline-block;
}

#pop-up-same-buttons-part {
    position: absolute;
    bottom: 6%;
    right: 4%;
}
#pop-up-date-first-buttons-part{
    position: absolute;
    bottom: 6%;
    right: 4%;
}