body {
    margin: 0px;
    font-family: tahoma, tahoma, verdana, arial, sans-serif;
}

#main-window {
    height: 500px;
    width: 607px;
    margin: 0px;
}

.pop-up-window {
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}

.pop-up-window .pop-up-content {
    position: relative;
    margin:100px auto 0px auto;
    width: 450px;
    height: 300px;
    padding:10px;
    background-color: #ffffff;
    border-radius:2px;
    box-shadow: 0px 0px 10px #000;
}

.date-all-pressed {
    background-color: orange;
}
.sex-all-pressed {
    background-color: orange;
}

.completed-row {
    background-color: #4cae4c;
}

#main-part {
    margin: 0px;
    position: relative;
    width: 100%;
    height: 92%;
    border: 1px solid rgb(233, 237, 241);
}

#info-part {
    background-color: #ffffff;
    float: left;
    margin: 0px;
    height: 100%;
    width: 34%;
    box-sizing: border-box;
    border-right: 1px solid rgb(218,225,232);
    border-top: 1px solid #ddd;
}

.avatar-field {

}

#table-part {
    box-sizing: border-box;
    border-left: 1px solid rgb(242,242,242);
    float: right;
    margin: 0px;
    height: 100%;
    width: 66%;

}
#header {
    /* background-image: linear-gradient(rgb(76, 110, 146), rgb(90, 124, 160)); */
    background-color: rgb(233, 237, 241);
    display: table;
    height: 8%;
    width: 100%;
}

.search-block { position: relative; }
.search-block input {
    width: 224px;
    height: 22px;
    border-radius: 11px;
    margin-left: 9px;
    text-indent: 10px;
}
.search-block .fa-search {
    position: absolute;
    font-size: 12px;
    top:14px;
    color: #45688E;
    left:15px;
}

#search-field {
    color: #45688E;
    font-size: 11px;
}


#avatar-block {
    display:table-cell;
    vertical-align:middle;
    height: 100%;
    width: 10%;
}

#user-avatar {
    float: right;
    margin-right: 21px;
}
#to-who-phone-field {
    width: 165px;
    height: 22px;
    border-radius: 5%;
}

.search-block {;
    display:table-cell;
    vertical-align:middle;
    height: 100%;
    width: 56%;
}
#logo-block {
    display:table-cell;
    vertical-align:middle;
    height: 100%;
    width: 34%;
}

.pop-up-container {
    background-color: #ccc;
    color: #fff;
}

td.name-field {
    font-size: 13px;
    color: #2B587A;
    font-weight: bold;

}

.table tbody>tr>td.vert-align{
    vertical-align: middle;

}
.content-in-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#accept-date-pop-up-date-first {
    display: inline-block;
}
#not-accept-date-pop-up-date-first {
    display: inline-block;
}


#pop-up-payment-success-buttons-part {
    position: absolute;
    bottom: 6%;
    right: 4%;
}
#pop-up-payment-failed-buttons-part {
    position: absolute;
    bottom: 6%;
    right: 4%;
}
#pop-up-payment-cancel-buttons-part {
    position: absolute;
    bottom: 6%;
    right: 4%;
}
#pop-up-send-buttons-part {
    position: absolute;
    bottom: 6%;
    right: 4%;
}
#pop-up-same-buttons-part {
    position: absolute;
    bottom: 6%;
    right: 4%;
}
#pop-up-date-first-buttons-part{
    position: absolute;
    bottom: 6%;
    right: 4%;
}


.button-date {
    border-radius: 10%;
    height: 35px;
    width: 45px;
    padding: 5px 5px;
}

.button-sex {
    border-radius: 10%;
    height: 35px;
    width: 45px;
    padding: 5px 5px;
}

.button-send {
    border-radius: 10%;
    height: 35px;
    width: 45px;
    padding: 5px 5px;
    margin-right: 7px;
}

.btn {
    border: 0 none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-default {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #ffffff;
    color: rgb(188, 205, 221);
    box-shadow: none;
}

.btn-default:focus , .open > .dropdown-toggle.btn-default {
    background: #ffffff;
    color: rgb(188, 205, 221);
    box-shadow: none;
}


.btn-danger {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #ffffff;
    color: palevioletred;
    box-shadow: none;
}


.btn-danger:focus, .open > .dropdown-toggle.btn-danger  {
    background: #ffffff;
    color: palevioletred;
    box-shadow: none;
}


.btn-danger:hover {
    background: rgb(255, 205, 255);
    color: palevioletred;
}

.btn-default:hover {
    background: rgb(233, 237, 241);
    color: rgb(188, 205, 221);
}

.btn-default:active {
    background: rgb(255, 205, 255);
    color: palevioletred;
}

.btn-danger:active {
    background: rgb(233, 237, 241);
    color: rgb(188, 205, 221);
}


.btn-info {
    line-height: 1.182;
    font-weight: bold;
    font-size: 11px;
    border-radius: 0px;
    background: rgb(233, 237, 241);
    outline: none;
    color: #45688E;
    box-shadow: none;
    font-family: tahoma, tahoma, verdana, arial, sans-serif;
    height: 40px;
}

.btn-info:focus , .open > .dropdown-toggle.btn-info {
    background: rgb(233, 237, 241);
    color: #607387;
    box-shadow: none;
}

.btn-info:hover {
    background: rgb(223, 227, 255);
    color: #607387;
}