body {
    margin: 0px;
}
#main-window {
    height: 500px;
    width: 607px;
    margin: 0px;
}

#pop-up-window {
    display: none;
}

.date-all-pressed {
    background-color: orange;
}
.sex-all-pressed {
    background-color: orange;
}
#table-part {
    float: left;
    overflow-y: auto;
    height: 90%;
}
#to-all-buttons-part {
    float: right;
    height: 10%;
}
#search-part {
    height: 10%;
    float: left;
}
.date-pressed {
    background-color: red;
}
.sex-pressed {
    background-color: red;
}