body {
    margin: 0px;
}

#main-window {
    height: 500px;
    width: 607px;
    margin: 0px;
}

.pop-up-window {
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}

.pop-up-window .pop-up-content {
    position: relative;
    margin:100px auto 0px auto;
    width: 450px;
    height: 300px;
    padding:10px;
    background-color: #ffffff;
    border-radius:2px;
    box-shadow: 0px 0px 10px #000;
}

.date-all-pressed {
    background-color: orange;
}
.sex-all-pressed {
    background-color: orange;
}

.completed-row {
    background-color: #4cae4c;
}

#table-part {
    float: left;
    overflow-y: auto;
    height: 85%;
    width: 100%;
}
#header {
    display: table;
    height: 15%;
    width: 100%;
}

#search-field {
    width: 90%;
}
.search-block {;
    display:table-cell;
    vertical-align:middle;
    height: 100%;
    width: 55%;
}
.to-all-block {
    display:table-cell;
    vertical-align:middle;
    height: 100%;
    width: 15%;
}

.pop-up-container {
    background-color: #ccc;
    color: #fff;
}

td.name-field {
    font-size: medium;
    color: #2b587a;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;

}
.content-in-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#accept-date-pop-up-date-first {
    display: inline-block;
}
#not-accept-date-pop-up-date-first {
    display: inline-block;
}

#pop-up-same-buttons-part {
    position: absolute;
    bottom: 6%;
    right: 4%;
}
#pop-up-date-first-buttons-part{
    position: absolute;
    bottom: 6%;
    right: 4%;
}

.button
{
        width: 40px;
        height: 40px;
        display: inline-block;
        white-space: nowrap;
        background-color: #ccc;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
        background-image: -webkit-linear-gradient(top, #eee, #ccc);
        background-image: -moz-linear-gradient(top, #eee, #ccc);
        background-image: -ms-linear-gradient(top, #eee, #ccc);
        background-image: -o-linear-gradient(top, #eee, #ccc);
        background-image: linear-gradient(top, #eee, #ccc);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
        border: 1px solid #777;
        padding: 0 1.5em;
        margin: 0.5em;
        font: bold 1em/2em Arial, Helvetica;
        text-decoration: none;
        color: #333;
        text-shadow: 0 1px 0 rgba(255,255,255,.8);
        -moz-border-radius: .2em;
        -webkit-border-radius: .2em;
        border-radius: 100%;
        -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
        box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.button:hover
{
        background-color: #ddd;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
        background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
        background-image: -moz-linear-gradient(top, #fafafa, #ddd);
        background-image: -ms-linear-gradient(top, #fafafa, #ddd);
        background-image: -o-linear-gradient(top, #fafafa, #ddd);
        background-image: linear-gradient(top, #fafafa, #ddd);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
}

.button:active
{
        -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        position: relative;
        top: 1px;
}

.button:focus
{
        outline: 0;
        background: #fafafa;
}