body {
    margin: 0px;
}

#main-window {
    height: 500px;
    width: 607px;
    margin: 0px;
}


.pop-up-window {
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}

.pop-up-window .pop-up-content {
    margin:100px auto 0px auto;
    width: 300px;
    height: 200px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:2px;
    box-shadow: 0px 0px 10px #000;
}

.date-all-pressed {
    background-color: orange;
}
.sex-all-pressed {
    background-color: orange;
}

.completed-row {
    background-color: #4cae4c;
}

#table-part {
    float: left;
    overflow-y: auto;
    height: 85%;
    width: 100%;
}
#to-all-buttons-part {
    display: inline-block;
    height: 15%;
    width: 40%;
}
#search-part {
    display: inline-block;
    width: 40%;
    height: 15%;
}
.date-pressed {
    background-color: red;
}
.sex-pressed {
    background-color: red;
}

.pop-up-container {
    background-color: #ccc;
    color: #fff;
}

td.name-field {
    font-size: medium;
    color: #2b587a;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;

}

#share {
    display: inline-block;
}
#date-all {
    display: inline-block;
}
#sex-all {
    display: inline-block;
}